/* FONTS */

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./content/font/inter-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./content/font/inter-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./content/font/inter-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */

}

/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./content/font/inter-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./content/font/inter-v3-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./content/font/inter-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */

}

/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./content/font/rubik-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./content/font/rubik-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./content/font/rubik-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */

}

/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./content/font/rubik-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./content/font/rubik-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./content/font/rubik-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* VARIABLES */

:root {
  --base-font-size: 0.9em;

  --black: rgba(0,0,0,0.8);
  --dark-grey: rgba(0,0,0,0.5);
  --grey: rgba(0,0,0,0.3);
  --yellow: rgba(244,194,15,1);
  --mellow-yellow: rgba(214,170,10,1);
  --background-color: white;

  --box-shadow: 0 0 0 1px rgb(0 0 0/.05),0 1px 4px rgb(0 0 0/.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: rgba(255,255,255,0.8);
    --dark-grey: rgba(255,255,255,0.5);
    --grey: rgba(255,255,255,0.3);
    --yellow: rgba(244,194,15,1);
    --mellow-yellow: rgba(214,170,10,1);
    --background-color: rgba(20,20,20,1);

    --box-shadow: 0 0 0 1px rgb(255 255 255/.1),0 1px 4px rgb(255 255 255/.2);
  }
}

/* PAGE STYLE */

html {
  display: flex;
  justify-content: center;

  background-color: var(--background-color);

  color: var(--black);
  font-family: 'Inter', sans-serif, Arial;
  font-size: var(--base-font-size);
}

body {
  max-width: 540px;
  margin: 5em 0;
}

/* TEXT STYLES */

p {
  color: var(--dark-grey);
}

.italics {
  font-style: italic;
}

.grey {
  color: var(--grey)
}

.highlight {
  color: var(--mellow-yellow);
}

h1 {
  color: var(--yellow);
  font-family: 'Rubik', sans-serif, Arial;
  font-size: 1.5em;
}

h2 {
  margin-top: 3em;

  font-size: 1em;
  font-weight: normal;
}

a {
  color: var(--black);
  text-decoration: none;
} a:hover {
  text-decoration: underline;
} 

/* HEADER STYLES */

.profile {
  display: flex;
  column-gap: 2em;
  align-items: center;
}

.profile .picture {
  position: relative;
}

.profile .picture .status {
  width: 2em;
  padding: 2px;
  border-radius: 1em;

  position: absolute;
  bottom: 0px;
  right: 0px;

  background-color: var(--background-color);
  box-shadow: var(--box-shadow);

  text-align: center;
}

.profile .picture img {
  width: 92px;
  border-radius: 100%;
}

.profile .name h1, 
.profile .name p {
  margin: 0;
}

.profile .name .quote {
  margin-top: 0.5em;
}

/* TABLE STYLES */

table {
  width: 100%;

  border-collapse: collapse;
}

tr {
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
}

th {
  width: 20%;

  color: var(--grey);
  font-weight: normal;
  text-align: left;
}

th, td {
  padding: 0;
  vertical-align: top;
}

td.link::after {
  content: "↗";
  margin: 0 3px;
  font-size: 0.9em;
}

/* CARD ITEM STYLE */

.card-parent:hover {
  text-decoration: none;
}

.card {
  display: flex;
  margin: 1em 0;
  column-gap: 1em;
}

.card p {
  margin: 0.2em 0 0 0;
}

.card > div {
  max-width: 300px;
}

.card-title {
  font-weight: 700;
} .card-title:hover {
  text-decoration: underline;
}

.card img {
  min-width: 52px;
  max-width: 52px;
  height: 66px;
  border-radius: 5px;

  box-shadow: var(--box-shadow);

  object-fit: cover;
}

.card img.scroller {
  animation: 3s ease-in-out infinite alternate scroller;
}

@keyframes scroller {
  from {
    object-position: 0 0;
  }

  to {
    object-position: 0 100%;
  }
}

.card img.carrousel {
  animation: 6s ease-in-out infinite alternate carrousel;
}

@keyframes carrousel {
  0% {
    object-position: 0 0;
  }
  33% {
    object-position: 33% 0;
  }
  66% {
    object-position: 66% 0;
  }
  100% {
    object-position: 100% 0;
  }
}

@media all and (max-width: 768px) {

  html {
    margin: 0 1em;
  }

  table tr {
    width: 100%;

    display: grid;
  }

  table th {
    margin-bottom: 0.5em;
  }

  tr {
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
  }

}
