/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../content/font/inter-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../content/font/inter-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../content/font/inter-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../content/font/inter-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../content/font/inter-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../content/font/inter-v3-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../content/font/inter-v3-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../content/font/inter-v3-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../content/font/inter-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../content/font/inter-v3-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../content/font/inter-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../content/font/inter-v3-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}

/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../content/font/rubik-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../content/font/rubik-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../content/font/rubik-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../content/font/rubik-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../content/font/rubik-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../content/font/rubik-v12-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('../content/font/rubik-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../content/font/rubik-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../content/font/rubik-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../content/font/rubik-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../content/font/rubik-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../content/font/rubik-v12-latin-700.svg#Rubik') format('svg'); /* Legacy iOS */
}

html {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  background-image: url(../content/img/noise.png);
  background-color: #E5E5E5;

  color: #383838;
  font-family: 'Inter', sans-serif, Arial;
}

body {
  /*display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 4em;*/

  /*max-width: 700px;
  padding: 4em;

  background-color: #FDFDFD;
  box-shadow: -1px 1px 15px -11px rgba(0,0,0,0.5);*/
}

.card {
  max-width: 700px;
  padding: 4em;
  margin-bottom: 1em;

  background-color: #FDFDFD;
  box-shadow: -1px 1px 15px -11px rgba(0,0,0,0.5);
}

header {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 4em;
}

header.header-left { grid-column: 1 / 2; }
header.header-right { grid-column: 2 / 3; }

h1 {
  color: #F4C20F;
  font-family: 'Rubik', sans-serif, Arial;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 1.3em;
}

a {
  color: rgba(0,0,0,0.5);
  text-decoration: none;
  transition: color 0.2s;
} a:hover {
  color: rgba(0,0,0,0.7);
}

span.links a {
  /*font-size: 0.9em;*/
  margin-right: 2em;
}

@media (max-width: 600px) {
  body { display: block; }
}
