@import 'tailwindcss';

:root {
  font-size: 0.9em;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

@theme {
  --font-sans: 'Inter Variable';

  --color-black: light-dark(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.8));
  --color-dark-grey: light-dark(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.6));
  --color-grey: light-dark(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4));

  --color-yellow: rgba(244, 194, 15, 1);
  --color-mellow-yellow: rgba(214, 170, 10, 1);

  --breakpoint-xl: 540px;
  --container-xl: 540px;
}

p {
  @apply text-dark-grey not-first-of-type:mt-2;
}

q {
  @apply text-grey italic;
}

a {
  @apply text-black hover:underline;
}

em {
  @apply text-mellow-yellow not-italic;
}

th {
  @apply text-grey font-normal;
}

/* ANIMATIONS */

.animation-scroll {
  animation: 3s ease-in-out infinite alternate scroll;
}

@keyframes scroll {
  from {
    object-position: 0 0;
  }
  to {
    object-position: 0 100%;
  }
}

.animation-carrousel {
  animation: 6s ease-in-out infinite alternate carrousel;
}

@keyframes carrousel {
  0% {
    object-position: 0 0;
  }
  33% {
    object-position: 33% 0;
  }
  66% {
    object-position: 66% 0;
  }
  100% {
    object-position: 100% 0;
  }
}

.animation-pan {
  animation: 4.5s ease-in-out infinite alternate pan;
  object-fit: none;
}

@keyframes pan {
  0% {
    object-position: 30% 10%;
  }
  100% {
    object-position: 40% 85%;
  }
}
